# Collecting Tweets using Tweepy

In [1]:
# Load packages
import tweepy as tw #make sure to install v3.10
import pandas as pd
import numpy as np
# install preprocessor using pip install via Command Prompt/Anaconda prompt: pip install tweet-preprocessor
from preprocessor import api as p
#from preprocessor.api import clean, tokenize, parse #to clean tweets

In [2]:
# Credentials
access_token = "1311658729201377281-alEuRquK89jGbga7ckTsFhIlkRVPOY"
access_token_secret = "rpQowQaio69m3XMByxXEzUdo73WPnpaPuYTQpAFH9cjoa"
api_key = "E0RK2oHynrMIJ9YVrvuhIIjc6"
api_key_secret = "kHnfmtYn7J66MkR7bUE3BTnWsW64ZUDUIxtw9bThP5kmDjq0Vl"

In [3]:
# Authentication app
auth = tw.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth)

In [53]:
# Find by phrase or keywords within a specified time
search_words = '"jordan lake" has:links'
#search_words = '"jordan lake" -has:links' 
# we can not use -filter:links etc for premium API search
# use this link instead https://developer.twitter.com/en/docs/twitter-api/premium/rules-and-filtering/using-premium-operators
# it is equivalent to utah lake until:2020-12-20 since:2020-11-28 -filter:links
# we can't filter out retweets in the premium search

# advanced search in Twitter search box 
# utah lake (#utahlake) until:2020-12-03 since:2020-11-28 -filter:links -filter:retweets
# If I include hashtag in search, it wouldn't show the ones without hashtag
# May be we can have a separate search by #utahlake and then combine both the dataframes

# From date, to date, for premium API search the date should be in format yyyyMMddHHmm
year_from = int(input("Year from: "))
year_to = int(input("Year to: "))
date_since = f'{year_from}01010000' #from January 1st, 12:00AM UTC
date_until = f'{year_to}12312359' #to December 31st, 11:59PM UTC
#date_until = f'{year_to}12310300' #for 2020 3AM UTC

#date_since = f'{year}12250000' #test
#date_until = f'{year}12280000' #test

# Create a cursor object that iterates over the requested information
# had to create a dev environment named "SentimentAnalysis" in Twitter's Developer Portal
tweets = tw.Cursor(api.search_full_archive, environment_name = "SentimentAnalysis",
                   query=search_words,
                   fromDate=date_since, toDate=date_until).items()

# Parse the cursor object into rows of lists using list comprehension
#rows = [[tweet.user.location, tweet.text, tweet.created_at, tweet.coordinates] for tweet in tweets]

# Make a list to store each item return in a payload
rows = []

# Iterate through each object and get location, tweet, date, coordinates and place for each record
for tweet in tweets:
    
    # check if there is an 'extended_tweet' property
    if ('extended_tweet' in dir(tweet)) == True: 
        # if so, instead of 'text', get 'full_text'
        row = [tweet.user.location, tweet.extended_tweet['full_text'], tweet.created_at, tweet.coordinates, tweet.retweeted, tweet.place]
    else:
        row = [tweet.user.location, tweet.text, tweet.created_at, tweet.coordinates, tweet.retweeted, tweet.place]

    # Append each item to the list
    rows.append(row)

# Tweets starting with an RT mean that they are retweets 

# more on geo-referenced tweets: 
# https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/geo
# if required, look into user.derived.locations.geo
# it assigns lat/long based on user's profile and the geographic precision they set
# for example, if a user set their precision at the country-level, it will show center of US at lat/long
# so it is not too accurate and might be irrelevant to us
# https://developer.twitter.com/en/docs/twitter-api/enterprise/enrichments/overview/profile-geo

Year from: 2013
Year to: 2016

In [54]:
# Create dataframe from the rows of lists
df_tweet = pd.DataFrame(data=rows, columns=['location', 'tweet', 'time', 'coordinates', 'retweeted', 'place'])

In [55]:
# Add ID column (because we removed user information)
unique_id = np.arange(len(df_tweet))
df_tweet['id'] = unique_id + 1
df_tweet = df_tweet[['id', 'location', 'tweet', 'time', 'coordinates', 'retweeted', 'place']]

In [56]:
df_tweet.head(50)

,id,location,tweet,time,coordinates,retweeted,place
0,1,"North Carolina, USA","New Year's Day hike, bald eagle events kick of...",2016-12-31 15:38:03,None,False,None
1,2,"Tennessee, USA","Happy birthday to our lead player, Jordan Lake...",2016-12-31 14:14:03,None,False,None
2,3,"Raleigh, North Carolina",Jordan Lake getting in on the #SuperSunset act...,2016-12-31 03:08:34,None,False,None
3,4,North Carolina,RT @PittsboroCVB: #NewYearsDay hike at Jordan ...,2016-12-30 17:37:59,None,False,None
4,5,"North Carolina, USA",#NewYearsDay hike at Jordan Lake State Recreat...,2016-12-30 16:17:01,None,False,None
5,6,"Raleigh, Wake Forest, Clayton","If your New Year plans include a new home, the...",2016-12-30 13:45:21,None,False,None
6,7,None,"Jordan Lake, another great location for local ...",2016-12-30 12:09:41,None,False,None
7,8,"Los Angeles, CA",My beautiful #NorthCarolina @ Jordan Lake Stat...,2016-12-29 22:06:14,"{'type': 'Point', 'coordinates': [-79.0169, 35...",False,Place(_api=<tweepy.api.API object at 0x000002E...
8,9,Carrboro,#bestof2016 #eveningcommute \nsunsets over J...,2016-12-29 20:04:56,None,False,None
9,10,"California, USA",My beginning Gallery Wall. @ Legacy At Jordan ...,2016-12-28 23:33:19,"{'type': 'Point', 'coordinates': [-79.05953229...",False,Place(_api=<tweepy.api.API object at 0x000002E...
10,11,"Memphis, TN",My sanctuary #home #northcarolina #morningrun ...,2016-12-28 16:23:22,None,False,None
11,12,"North Carolina, USA","Nature, beauty, and the promise of a productiv...",2016-12-28 11:47:03,None,False,None
12,13,"Raleigh, NC",I can't even begin to untangle the cuteness he...,2016-12-28 04:29:12,"{'type': 'Point', 'coordinates': [-86.2574, 32...",False,Place(_api=<tweepy.api.API object at 0x000002E...
13,14,South Carolina,https://t.co/6nY9krHmh2\nHead to Jordan Lake w...,2016-12-27 20:05:15,None,False,None
14,15,North Carolina,https://t.co/1hwXvfbx0H\nHead to Jordan Lake w...,2016-12-27 20:05:14,None,False,None
15,16,None,Morning! @ Jordan Lake State Recreation Area h...,2016-12-27 12:05:59,None,False,None
16,17,Southern California,Hike to Jordan Lake and buritto make for a goo...,2016-12-27 01:17:24,"{'type': 'Point', 'coordinates': [-78.9072, 35...",False,Place(_api=<tweepy.api.API object at 0x000002E...
17,18,NC,1 Sedge Wren (Cistothorus platensis) - Jordan ...,2016-12-27 01:14:02,"{'type': 'Point', 'coordinates': [-79.0678176,...",False,None
18,19,NC,1 Lesser Black-backed Gull (Larus fuscus) - Jo...,2016-12-27 01:14:02,"{'type': 'Point', 'coordinates': [-79.0276623,...",False,None
19,20,None,Parcheesi! @ Jordan Lake State Recreation Area...,2016-12-27 00:24:54,None,False,None
20,21,"Raleigh, NC",So I found these feet ... @ Jordan Lake (Alaba...,2016-12-27 00:09:02,"{'type': 'Point', 'coordinates': [-86.2574, 32...",False,Place(_api=<tweepy.api.API object at 0x000002E...
21,22,"Raleigh, NC",First Christmas hangover - achievement unlocke...,2016-12-26 23:47:36,"{'type': 'Point', 'coordinates': [-86.2574, 32...",False,Place(_api=<tweepy.api.API object at 0x000002E...
22,23,None,Beautiful night with just a chill in the air. ...,2016-12-26 22:28:50,None,False,None
23,24,None,Beautiful @ Jordan Lake State Recreation Area ...,2016-12-26 21:26:32,None,False,None
24,25,None,There's my boy! @ Jordan Lake State Recreation...,2016-12-26 21:02:25,None,False,None
25,26,None,Aydin being silly! @ Jordan Lake State Recreat...,2016-12-26 20:42:16,None,False,None
26,27,None,Keeping warm. @ Jordan Lake State Recreation A...,2016-12-26 20:41:40,None,False,None
27,28,None,I just could not help myself! Out here with my...,2016-12-26 19:05:36,None,False,None
28,29,"Raleigh, NC",RT @trianglexplorer: The bar at Jordan Lake Br...,2016-12-25 19:26:43,None,False,None
29,30,"New York, NY",Merry everything &amp; a happy always üéÅ @ Lega...,2016-12-25 00:57:30,"{'type': 'Point', 'coordinates': [-79.05953229...",False,Place(_api=<tweepy.api.API object at 0x000002E...
30,31,"NC, Triangle, Cary",RT @trianglexplorer: The bar at Jordan Lake Br...,2016-12-24 20:55:18,None,False,None
31,32,"Ionia, Michigan",Congratulations to the Jordan Lake Trail Board...,2016-12-23 23:29:02,None,False,None
32,33,None,Jordan Lake Trail receives grants https://t.co...,2016-12-23 22:57:01,None,False,None
33,34,"Raleigh, NC",RT @trianglexplorer: The bar at Jordan Lake Br...,2016-12-23 20:12:42,None,False,None
34,35,"Raleigh, NC",RT @trianglexplorer: The bar at Jordan Lake Br...,2016-12-23 20:11:49,None,False,None
35,36,"Raleigh, NC",RT @trianglexplorer: The bar at Jordan Lake Br...,2016-12-23 20:11:04,None,False,None
36,37,"Raleigh, NC",The bar at Jordan Lake Brewing is looking good...,2016-12-23 20:04:17,None,False,Place(_api=<tweepy.api.API object at 0x000002E...
37,38,"Chapel Hill, NC",My Christmas present is home and in place. Tha...,2016-12-23 17:05:47,None,False,None
38,39,Arab World,ŸÑŸÖÿßÿ∞ÿß ŸÉÿßŸÜÿ™ #ÿßŸÑÿ£ÿ±ÿØŸÜ ÿ¨ÿ≤Ÿäÿ±ÿ© ŸáÿßÿØÿ¶ÿ© ŸÅŸä ÿßŸÑŸÖÿ≠Ÿäÿ∑ ÿßŸÑÿπÿ±ÿ®...,2016-12-23 11:34:36,None,False,None
39,40,None,ÿ≠ÿßÿØÿ´ ÿßŸÑŸÉÿ±ŸÉ: ŸáŸÉÿ∞ÿß ÿ£ŸÑŸÇÿ™ ÿØÿßÿπÿ¥ ÿ≠ÿ¨ÿ±ÿß ŸÅŸä ÿ®ÿ≠Ÿäÿ±ÿ© ÿßŸÑÿ£ÿ±ÿØ...,2016-12-23 09:19:03,None,False,None
40,41,"Cary, NC","The future is looking bright, or is that just ...",2016-12-21 21:55:23,"{'type': 'Point', 'coordinates': [-79.025, 35....",False,Place(_api=<tweepy.api.API object at 0x000002E...
41,42,"North Carolina, USA",New Year's Day hike @ Jordan Lake State Rec Ar...,2016-12-21 01:08:01,None,False,None
42,43,"Durham, NC",Law++ gets a little trashy every now and then....,2016-12-19 18:50:15,None,False,None
43,44,"Durham, NC",Nothing makes your day great like cleaning up ...,2016-12-17 20:25:16,None,False,None
44,45,"North Carolina, USA","Reminder, Feb 17 - 20, the Great Backyard Bird...",2016-12-17 13:14:01,None,False,None
45,46,"Raleigh, Wake Forest, Clayton",Tour this beautiful home on a large wooded lot...,2016-12-16 19:30:19,None,False,None
46,47,"Durham, NC",Our natural spaces need our help. Come tend to...,2016-12-16 17:05:37,None,False,None
47,48,North Carolina,Jordan Lake Christmas Tree Farm - https://t.co...,2016-12-16 03:35:00,None,False,None
48,49,"Durham, NC",Jordan Lake's shoreline needs your help. Join ...,2016-12-15 20:30:59,None,False,None
49,50,"Dayton, TX","New Baylor coach David Wetzel, left, with form...",2016-12-15 18:54:41,None,False,None

In [57]:
df_tweet.tail()

,id,location,tweet,time,coordinates,retweeted,place
10674,10675,"Grand Rapids, Mich.",A water search is underway in Jordan Lake at t...,2013-01-03 19:02:14,None,False,None
10675,10676,None,#RDU #Rent OWN a HOUSE FOR THE PRICE OF A USED...,2013-01-03 11:54:36,None,False,None
10676,10677,USA,Jordan Lake State Park - Plan An Ideal Weekend...,2013-01-02 01:31:15,None,False,None
10677,10678,Raleigh,Drinking a Double Naked Fish by @DuClawBrewing...,2013-01-01 21:47:26,"{'type': 'Point', 'coordinates': [-79.0081, 35...",False,Place(_api=<tweepy.api.API object at 0x000002E...
10678,10679,Raleigh,Drinking a Petrus Winter #9 by @BavikBeers @ S...,2013-01-01 06:55:00,"{'type': 'Point', 'coordinates': [-79.0081, 35...",False,Place(_api=<tweepy.api.API object at 0x000002E...

In [58]:
df_tweet.tweet[1]

'Happy birthday to our lead player, Jordan Lake! https://t.co/YG3jaC8ZdV'

In [59]:
df_tweet.place[1]

# Cleaning tweets in the dataframe

#### Lets clean tweets after labeling

In [60]:
# # Clean each tweet in our dataframe using the preprocessor module
# tweet_clean = []
# for tweet in df_tweet['tweet']:
#     cleaned = p.clean(tweet)
#     tweet_clean.append(cleaned)

In [61]:
# # Store as a new dataframe
# df_tweet_clean = df_tweet.copy()
# df_tweet_clean['tweet'] = tweet_clean

In [62]:
#df_tweet_clean.head()

# Save the dataframe as a CSV

In [63]:
# Checking current working directory
import os
os.getcwd()

'C:\\Users\\rapiduser\\Documents\\WaterQualityPerception\\Pierre\\WaterQualityPerceptionMP2020'

In [64]:
# Store as CSV to a relative path
#df_tweet.to_csv(f"..\\..\\Data\\jordanlake_{year_from}_{year_to}.csv")
df_tweet.to_csv(f"..\\..\\Data\\jordanlake_{year_from}_{year_to}links.csv")
#df_tweet_clean.to_csv(f"..\\..\\Data\\utahlake_{year}.csv")
#df_tweet_clean.to_csv("..\\..\\Data\\scraped_tweets_test.csv")